/* CUSTOM PROPERTY */
:root {
  --accent: #ea625c;
  --white: #fff;
  --accent-dark: #c9514c;
  --outline-color: var(--accent);
  --text-color: #333333;
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  background-color: var(--white);
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1040px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* BUTTON */
.button {
  display: inline-block;
  min-width: 260px;
  padding: 12px 38px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: var(--accent);
  color: var(--white);
  cursor: pointer;
  border: 0;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.button:hover {
  background-color: var(--accent-dark);
}

.button:active {
  opacity: 0.6;
}

.lined-link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: var(--accent);
  text-transform: uppercase;
}

.lined-link::before {
  content: "";
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.lined-link:hover::before {
  width: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  --outline-color: #666;
}

.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: auto;
  transition: opacity 0.3s ease;
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active {
  opacity: 0.6;
}

.site-header-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain ;
}


/* NAV */
.sitenav{
  margin-right: 40px;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 30px;
}

.sitenav-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  font-size: 15px;
  color: var(--text-color);
  transition: border-bottom 0.3s ease;
}

.sitenav-link:hover {
  border-bottom: 3px solid var(--text-color);
}


/* SEARCH-FORM */
.search-form-input {
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--text-color);
}


/* INTRO */
.intro {
  background-image: url("../img/intro-bg.jpg");
  background-position: left calc(50% + 550px) bottom;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 185px;
  border-bottom: 2px solid #ddd;
}

.intro-info {
  width: 100%;
  max-width: 490px;
}

.intro-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.2;
  color: #000;
}

.intro-text {
  padding-left: 37px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  color: #777777;
  border-left: 3px solid #888888;
}


/* FEATURES */
.features {
  padding-top: 70px;
  padding-bottom: 70px;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 280px;
}

.features-item:not(:last-child) {
  margin-right: 80px;
}

.features-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  color: #222;
}

.features-text{
  margin-top: 0;
  margin-bottom: 20px;
}

.features-divider {
  width: 8px;
  height: 8px;
  border: 0;
  margin: 0;
  background-color: #ddd;
  box-shadow: 16px 0 0 0 #ddd,
    32px 0 0 0 #ddd;
}


/* PROMO */
.promo {
  padding-top: 70px;
  padding-bottom: 70px;
}

.promo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo-img {
  display: inline-block;
  width: 400px;
  height: 600px;
  object-fit: cover;
}


/* RUNNERS */
.runners {
  background-image: url("../img/runners\ 1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 240px;
  padding-bottom: 240px;
  --outline-color: var(--white);
}

.runners-intro-info {
  margin-left: auto;
}

.runners-heading {
  color: var(--white);
}

.runners-text {
  color: var(--white);
  border-left: 3px solid var(--white);
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/intro-bg@2x.jpg");
  }

  .runners {
    background-image: url("../img/runners\ 1@2x.jpg");
}
}